{% extends 'vaccines/base.html' %}
{% load static %}

{% block link %}
 <link rel="stylesheet" href="{% static 'base/home.css' %}">
{% endblock %}

{% block content %}
  <div class="container-content">
    <div class="topics">
        <h2 class="subtitle-topic">Por que criei esse site?</h2>

        <div class="text-topic">
            <p>
                Hoje em dia, com rotinas cada vez mais intensas e um fluxo constante de informações, é comum que muitas pessoas deixem de lado cuidados importantes com a saúde, como manter o calendário vacinal em dia. Esse esquecimento pode trazer sérios riscos, especialmente com o ressurgimento de doenças infecciosas antes controladas, como o sarampo e a coqueluche. Manter-se protegido é vital para todas as idades, mas é ainda mais importante para os idosos, que, com o envelhecimento, tornam-se mais vulneráveis a complicações e doenças.
                <br>
                <br>
                À medida que envelhecemos, o sistema imunológico tende a perder parte de sua eficiência, tornando os idosos mais suscetíveis a infecções. Além disso, existem vacinas que precisam de reforços ao longo da vida e outras que são recomendadas para idosos, como a da gripe, a do tétano e a da pneumonia. Contudo, muitos idosos deixam de tomar essas vacinas, seja por falta de informação, esquecimento ou até mesmo por desconhecimento sobre a necessidade de reforçar a imunização. Esse descuido pode resultar em graves problemas de saúde, hospitalizações e até risco de vida, já que certas doenças apresentam maior taxa de mortalidade em pessoas acima de 60 anos.
                <br>
                <br>
                Um site que ajuda as pessoas a acompanhar seu calendário vacinal e envia lembretes por e-mail sobre as vacinas que devem tomar é uma solução extremamente útil e necessária nos dias de hoje. Esse tipo de serviço oferece benefícios importantes para todas as faixas etárias, mas é especialmente vantajoso para os idosos, que podem esquecer com maior facilidade a data de reforço das vacinas ou a necessidade de imunizações específicas. Além disso, familiares e cuidadores também podem acompanhar essas notificações e ajudar os idosos a comparecerem às consultas e se protegerem contra doenças preveníveis.
                <br>
                <br>
                O site, ao permitir que as pessoas registrem as vacinas já tomadas e as doses ainda pendentes, oferece um painel prático e acessível, onde é possível visualizar todo o histórico de vacinas de forma organizada. Os e-mails de lembrete são uma ajuda extra, garantindo que as pessoas não percam as datas importantes. Isso é ainda mais relevante para os idosos que, por vezes, têm dificuldades em gerenciar as próprias anotações médicas e podem esquecer informações dadas pelos profissionais de saúde.
                <br>
                <br>
                Em suma, essa ferramenta não é apenas um recurso de conveniência, mas uma verdadeira medida preventiva de saúde pública. Um sistema de lembretes de vacinas ajuda a diminuir as lacunas de imunização, evita o ressurgimento de doenças e proporciona aos idosos uma maior proteção, promovendo um envelhecimento mais seguro e saudável. Em última análise, sites como esses contribuem para a conscientização sobre a importância das vacinas, ajudando as pessoas a assumirem um papel ativo na manutenção de sua saúde e garantindo que os benefícios da vacinação sejam realmente aproveitados ao longo da vida.</p>
                <br>
        </div>
        <div class="topics">
            <h2 class="subtitle-topic">Por que tive essa iniciativa?</h2>
    
            <div class="text-topic">
                <p>Em parceria com a Faculdade Cruzeiro do Sul, recebemos um projeto de extensão que nos permite aplicar nossos conhecimentos para ajudar o próximo. Essa oportunidade é alinhada com os Objetivos de Desenvolvimento Sustentável (ODS), e me inspirou a criar um projeto focado no que eu mais amo e sei fazer: programar.

                    Pensando em como contribuir de forma significativa, desenvolvi este projeto com o intuito de usar a tecnologia para impactar positivamente a vida das pessoas. É uma chance de transformar habilidades técnicas em ações práticas de ajuda, ao mesmo tempo em que fortaleço meu aprendizado e aplico o que sei para o bem comum. Essa parceria com a Cruzeiro do Sul reforça o compromisso de todos em fazer a diferença e encontrar soluções que realmente tragam benefícios à nossa comunidade.</p>
            </div>
        </div>

    </div>
  </div>
{% endblock%}