{% extends 'vaccines/base.html' %}
{% load static %}

{% block link %}
 <link rel="stylesheet" href="{% static 'base/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-img">
            <div class="text">
                <h1>A importancia da vacina</h1>
                <h1>Em 7 Tópiocos</h1>
            </div>
        </div>

        <section class="container-content">
            <div class="topics">
                <strong class='subtitle-topic'>
                   <h2>Por que a vacina é tão importante?</h2>
                </strong>

                <p class='text-topic'>
                    A vacina é uma das maiores conquistas da medicina moderna e uma ferramenta fundamental na prevenção de doenças infecciosas que, ao longo da história, causaram milhões de mortes e sequelas permanentes em pessoas ao redor do mundo. O processo de vacinação consiste em introduzir no organismo substâncias que simulam uma infecção, ensinando o sistema imunológico a reconhecer e combater agentes infecciosos reais, como vírus e bactérias. Isso cria uma "memória imunológica", que permite ao corpo reagir rapidamente e com mais força quando exposto ao verdadeiro patógeno. Essa é a base da imunização, um método que salva vidas e melhora a qualidade de vida de milhões de pessoas.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Proteção individual e coletiva:</h4>
                </strong>

                <p class='text-topic'>
                    A vacinação protege não apenas o indivíduo vacinado, mas também a comunidade como um todo. Quando uma alta porcentagem da população está vacinada, ocorre o que é conhecido como imunidade de rebanho. Isso significa que a propagação do agente infeccioso é dificultada, pois ele encontra menos pessoas suscetíveis para infectar. A imunidade de rebanho é especialmente importante para proteger aqueles que não podem se vacinar por motivos médicos, como pessoas com sistemas imunológicos comprometidos ou bebês muito pequenos para receber algumas vacinas.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Prevenção de surtos e pandemias:</h4>
                </strong>

                <p class='text-topic'>
                    Doenças infecciosas podem se espalhar rapidamente, causando surtos, epidemias ou até pandemias, como vimos recentemente com a COVID-19. A vacinação é uma maneira eficaz de controlar e prevenir essas situações. Por exemplo, vacinas contra doenças como o sarampo, a poliomielite e a gripe já mostraram grande eficácia em reduzir ou erradicar essas doenças em várias regiões do mundo. Sem a vacinação, doenças que antes eram controladas podem ressurgir, colocando a população em risco. Isso é evidente em países onde houve uma queda nas taxas de vacinação e surgiram novos surtos de doenças anteriormente controladas.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Erradicação de doenças e redução de custos de saúde:</h4>
                </strong>

                <p class='text-topic'>
                    A vacina é a única ferramenta que conseguiu erradicar completamente uma doença até hoje: a varíola. Esse sucesso não apenas salvou milhões de vidas, mas também eliminou a necessidade de tratamentos e de vigilância contra a doença, economizando recursos financeiros e humanos. A erradicação de uma doença significa que ela deixa de circular globalmente e, com o tempo, a necessidade de vacinação contra ela pode ser eliminada. Esse tipo de economia impacta significativamente os sistemas de saúde, liberando recursos para combater outras doenças e atender outras necessidades de saúde da população.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Redução de sequelas e complicações de doenças infecciosas:</h4>
                </strong>

                <p class='text-topic'>
                    Mesmo quando não são fatais, muitas doenças infecciosas podem deixar sequelas graves, especialmente em crianças e idosos. A poliomielite, por exemplo, pode causar paralisia permanente, enquanto o sarampo pode resultar em complicações neurológicas. A vacinação não apenas previne a infecção, mas também protege as pessoas das complicações e das sequelas a longo prazo associadas a essas doenças. Além disso, vacinas reduzem o impacto emocional e econômico de doenças nas famílias e na sociedade.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Segurança e eficácia das vacinas:</h4>
                </strong>

                <p class='text-topic'>
                    As vacinas passam por rigorosos processos de teste antes de serem aprovadas para uso, que incluem ensaios clínicos em várias fases para verificar sua segurança e eficácia. Mesmo após serem aprovadas, as vacinas continuam a ser monitoradas para garantir que eventuais efeitos adversos sejam identificados e controlados. Os avanços na tecnologia e na ciência aumentaram muito a segurança das vacinas, tornando-as uma intervenção de saúde pública amplamente recomendada por especialistas e autoridades sanitárias.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Educação e conscientização para um futuro saudável:</h4>
                </strong>

                <p class='text-topic'>
                    Vacinar é um ato de responsabilidade coletiva. Muitas doenças foram reduzidas a níveis baixos por causa da vacinação, mas isso não significa que elas desapareceram completamente. A conscientização sobre a importância das vacinas é essencial para manter os índices de imunização elevados. Informar e educar sobre os benefícios da vacina ajuda a combater a desinformação e os mitos que podem causar dúvidas na população. Quando as pessoas compreendem a importância da vacinação, têm mais chances de aderir ao programa e incentivar outras pessoas a fazerem o mesmo.
                </p>
            </div>
            <div class="topics">
                <strong class='subtitle-topic'>
                    <h4>Contribuição para a ciência e a saúde global:</h4>
                </strong>

                <p class='text-topic'>
                    A vacinação também promove o avanço da ciência. A pesquisa e o desenvolvimento de vacinas incentivam a inovação em outras áreas médicas e ampliam nosso conhecimento sobre o sistema imunológico e sobre como nosso corpo responde às infecções. Além disso, programas de vacinação bem-sucedidos contribuem para a saúde global e representam um importante passo na luta contra as desigualdades de saúde entre países. Quando países de baixa renda têm acesso a vacinas, a carga de doenças infecciosas é reduzida em escala global, promovendo um mundo mais seguro e saudável.
                </p>
            </div>
        </section>

        <section class='content-end'>
            <h2>E ai pronto para levar a sério suas vacinas?</h2>
            <div class="conteiner-btn">
                <a href="{% url 'register' %}" class="btn btn-primary">Cadastrar-se</a>
                <a href="{% url 'about' %}" class="btn btn-outline-light">O que vocês fazem?</a>
            </div>
        </section>
    </div>
{% endblock %}